*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#sideBar{
    background-color: #1992d4;
    color: white;
    width: 30vw;
    height: 100vh;
}
#homePage{
    background-color:rgba(221, 14, 14, 0.829);
    width: 80vw;
    height:100vh;
}
main{
    display: grid;
    grid-template: 0 0 /2fr 8fr;
}
